body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000 !important;
  color: #fff !important;
}

.edit-content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff !important;
  padding: 20px;
  height: 100vh;
  background-color: #000 !important;
  overflow-y: auto; /* Add scroll if content overflows */
}

.header {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo {
  position: absolute;
  left: 20px;
  margin: 0;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
}

.logo:hover {
  color: #aaa;
}

.profile-title {
  margin: 0;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}

.admin-section {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.input-field {
  width: calc(100% - 50px); /* Adjusted to allow space for the icon */
  padding: 12px;
  font-size: 16px;
  border-radius: 4px; /* Squared-off corners */
  border: 2px solid hsl(0, 0%, 70%);
  background-color: #2c2c2c; /* Slightly lighter background for contrast */
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-field:focus {
  border-color: #aaa; /* Subtle change on focus */
  box-shadow: 0 0 10px rgba(170, 170, 170, 0.5); /* Softer glow on focus */
}

/* Styling for the add icon */
.add-icon {
  background-color: #000; /* Black background */
  color: #fff; /* White icon */
  padding: 10px;
  border: none;
  border-radius: 50%; /* Rounded icon */
  cursor: pointer;
  font-size: 24px; /* Large icon size */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  margin-left: 10px; /* Space between input and icon */
}

.add-icon:hover {
  transform: scale(1.2); /* Slightly larger on hover */
}

/* Flexbox layout for skills and projects sections */
.selection-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1000px;
}

.selection-section {
  width: 25%;
}

h3 {
  margin-top: 20px;
  color: #fff !important;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  font-size: 16px;
  color: #fff !important;
  margin-right: 10px;
  flex-grow: 1; /* Ensure labels take up available space */
}

.delete-button {
  background: none; /* Remove the background */
  color: red; /* Set the X color to red */
  border: none; /* Remove the border */
  cursor: pointer;
  font-size: 20px; /* Adjust the size of the X */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; /* Remove padding */
}

.delete-button:hover {
  color: darkred; /* Change color on hover */
}

.confirmation-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1c1c1c;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  border-radius: 8px;
}

.confirmation-dialog p {
  margin-bottom: 20px;
  color: #fff;
}

.confirmation-dialog button {
  margin-right: 10px;
  background-color: hsl(0, 0%, 80%);
  border-color: hsl(0, 0%, 43%);
  color: hsl(0, 1%, 37%);
  padding: 10px 20px;
  border: none;
  border-radius: 4px; /* Squared-off corners */
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.confirmation-dialog button:hover {
  background-color: #d9d9d9 !important;
}
