<div class="login-container">
  <form (submit)="login(); $event.preventDefault()">
    <h2>Login</h2>
    <div class="input-container">
      <input
        type="text"
        [(ngModel)]="username"
        placeholder="Username"
        name="username"
        class="input-box"
      />
    </div>
    <div class="input-container">
      <input
        type="password"
        [(ngModel)]="password"
        placeholder="Password"
        name="password"
        class="input-box"
      />
    </div>
    <button type="submit" class="login-button">Login</button>
  </form>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
</div>
