<div class="login-container">
  <form (submit)="createUser(); $event.preventDefault()">
    <h2>Create User</h2>
    <div class="input-container">
      <input
        type="text"
        [(ngModel)]="email"
        placeholder="Email"
        name="email"
        class="input-box"
        required
      />
    </div>
    <div class="input-container">
      <input
        type="password"
        [(ngModel)]="password"
        placeholder="Password"
        name="password"
        class="input-box"
        required
      />
    </div>
    <button type="submit" class="login-button">Create User</button>
  </form>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
</div>
