body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000 !important;
  color: #fff !important;
}

.dashboard-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff !important;
  padding: 20px;
  height: 100vh;
  background-color: #000 !important;
  overflow-y: auto; /* Add scroll if content overflows */
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.top-right-buttons {
  position: absolute;
  top: 10px;
  right: 20px;
}

h1 {
  color: #fff !important;
  margin-bottom: 20px;
}

.logout-button,
.action-button {
  background-color: #d3d3d3 !important;
  color: #000 !important;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.logout-button:hover,
.action-button:hover {
  background-color: #bfbfbf !important;
}

.welcome-message {
  font-size: 18px;
  margin-bottom: 20px;
  color: #fff !important;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.search-button {
  background-color: #d3d3d3 !important;
  color: #000 !important;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.search-button:hover {
  background-color: #bfbfbf !important;
}

.content-sections {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.content-section {
  flex: 1;
  margin: 0 10px;
}

.content-section h2 {
  color: #fff !important;
}

.content-section ul {
  list-style: none;
  padding: 0;
}

.content-section ul ul {
  margin-left: 20px;
}

.content-section ul li {
  margin-bottom: 10px;
  cursor: pointer;
}

.content-section ul li.selected {
  background-color: #555;
  color: #fff !important;
  padding: 5px;
  border-radius: 4px;
}

.people-section {
  width: 100%;
  margin-top: 20px;
}

.people-section h2 {
  color: #fff !important;
}

.no-people-message {
  font-size: 16px;
  color: #ff0000;
  text-align: center;
  margin-top: 20px;
}

.person-card {
  background-color: #1c1c1c;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.person-card p {
  margin: 5px 0;
}

.admin-content,
.user-content {
  margin-bottom: 20px;
}

p {
  margin: 10px 0;
}
app-algolia-react {
  border: 2px solid red; /* Temporary border to see where the component is */
}
